In [1]:
import pandas as pd
import glob

In [34]:
# before two digit, escape characters
twodig = pd.DataFrame.from_csv("C:\Users\Debmalya\Documents\GitHub\economic_base\data\\2_digit.csv", header= 0, index_col= None)
#twodig

In [8]:
twodig.dtypes

GEO.id                  object
GEO.id2                float64
GEO.display-label       object
NAICS.id                object
NAICS.display-label     object
OPTAX.id                object
OPTAX.display-label     object
YEAR.id                  int64
ESTAB                   object
RCPTOT                  object
PAYANN                  object
EMP                     object
NESTAB                  object
NRCPTOT                 object
dtype: object

In [35]:
twodig= twodig[(twodig["OPTAX.id"] != "10") & (twodig["OPTAX.id"] != "20") &(twodig["OPTAX.id"] != "T") & (twodig["OPTAX.id"] != "Y")]
#twodig

In [33]:
US= twodig[twodig["GEO.display-label"]=="United States"]
US= US[["NAICS.id", "EMP"]] # remember during column subset two brackets, like getitem
US.rename(columns={'EMP': 'US_EMP'}, inplace=True) # rename columns
#US

In [50]:
KINGS= twodig[twodig["GEO.display-label"]=="Kings County, California"]
KINGS= KINGS[["NAICS.id", "EMP"]] # remember during column subset two brackets, like getitem
KINGS.rename(columns= {'EMP' : 'KINGS_EMP'}, inplace = True)
#KINGS.head()

   NAICS.id KINGS_EMP
30    31-33      4291
32    44-45      4267
33       51       347
34       53       343
35       54       535

In [48]:
m=US.merge(KINGS, on= "NAICS.id", how= 'outer')
#m

In [51]:
m.loc[8,'US_EMP'] = "6607511" # when using index, no quotes
m.loc[13, 'KINGS_EMP']= "175"
m.head()

  NAICS.id    US_EMP KINGS_EMP
0       21    730433       NaN
1       22    637247       NaN
2       23   7316240       NaN
3    31-33  13395670      4291
4       42   6227389       NaN

In [55]:
agri= pd.DataFrame([[11,172105,678]], columns=["NAICS.id","US_EMP","KINGS_EMP"])
l= [agri,m]
full= pd.concat(l, ignore_index= True)
#full.head()

  NAICS.id    US_EMP KINGS_EMP
0       11    172105       678
1       21    730433       NaN
2       22    637247       NaN
3       23   7316240       NaN
4    31-33  13395670      4291

In [58]:
full[["US_EMP"]]= full[["US_EMP"]].astype(float)
full[["KINGS_EMP"]]= full[["KINGS_EMP"]].astype(float)
USTotal= full.US_EMP.sum()
KINGSTotal= full.KINGS_EMP.sum()
USTotal

116000333.0

In [59]:
KINGSTotal
clean_data$Kings_e<-clean_data$Kings_EMP/Kings_total
clean_data$Kings_E<-clean_data$US_EMP/us_total
clean_data$Kings_LQ<-clean_data$Kings_e/clean_data$Kings_E
clean_data$Kings_bi<-((clean_data$Kings_LQ-1)/clean_data$Kings_LQ)*clean_data$Kings_EMP

20584.0

In [60]:
full["KINGS_e"]= full["KINGS_EMP"]/ KINGSTotal
full["KINGS_E"]= full["US_EMP"]/ USTotal
full["Kings_LQ"]= full["KINGS_e"]/ full["KINGS_E"]
full["KINGS_bi"]= ((full["Kings_LQ"]- 1)/full["Kings_LQ"])*full["KINGS_EMP"]
#full

   NAICS.id    US_EMP  KINGS_EMP   KINGS_e   KINGS_E   Kings_LQ     KINGS_bi
0        11    172105        678  0.032938  0.001484  22.200649   647.460352
1        21    730433        NaN       NaN  0.006297        NaN          NaN
2        22    637247        NaN       NaN  0.005493        NaN          NaN
3        23   7316240        NaN       NaN  0.063071        NaN          NaN
4     31-33  13395670       4291  0.208463  0.115480   1.805193  1913.968278
5        42   6227389        NaN       NaN  0.053684        NaN          NaN
6     44-45  15515396       4267  0.207297  0.133753   1.549848  1513.827634
7     48-49   4454383        NaN       NaN  0.038400        NaN          NaN
8        51   3496773        347  0.016858  0.030145   0.559231  -273.494559
9        52   6607511        NaN       NaN  0.056961        NaN          NaN
10       53   2188479        343  0.016663  0.018866   0.883245   -45.340711
11       54   7870414        535  0.025991  0.067848   0.383077  -861.587385
12       55   2664203        NaN       NaN  0.022967        NaN          NaN
13       56  10250955        567  0.027546  0.088370   0.311708 -1252.009069
14       61    539951        175  0.008502  0.004655   1.826473    79.186901
15       62  16792074       4106  0.199475  0.144759   1.377984  1126.283974
16       71   2061348        484  0.023513  0.017770   1.323194   118.218401
17       72  11600751       4209  0.204479  0.100006   2.044666  2150.472646
18       81   3479011        582  0.028274  0.029991   0.942750   -35.342731

In [61]:
small= full[full.KINGS_bi >=0]

In [62]:
Kings_bi_sum=small.KINGS_bi.sum()
Kings_BM=KINGSTotal/Kings_bi_sum
Kings_BM

2.7265677288091412